<mat-form-field appearance="standard">
  <mat-label>Calendar events playground</mat-label>
  <input matInput [matDatepicker]="picker"
                  (dateInput)="addDateInputEvent($event)"
                  (dateChange)="addDateChangeEvent($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker startView="month" [startAt]="customStartDate" #picker></mat-datepicker>
</mat-form-field>

<div>
  <div *ngFor="let event of calendarEvents">{{event}}</div>
</div>
